
#Container{
	position: absolute;
	width: 100%;
	height: 100%;
}
#mailCard{
  /* position: absolute; */
  /* width: 340px ; */
	height: 96%;
	padding:10px;
  /* margin: 20px 3% 50px; */
  margin-top: 10px;
}

#message{
	height: 200px;
}

#sendButton{
	margin-top: 10px;
	margin-left: auto;
}

#recipientWrapper {
  position: relative
}

#badgeWrapper {
  position: absolute;
  top: 0;
}

#recipients{
  width: 100%;
}

.badge {
  margin-left: 5px;
}

.lastDiv {
  display: inline-block;
}


.textwidth {
  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
}

textarea {
  resize: none;
}

#mainCard {
  position: relative;
  display:inline-block;
  left: 5%;
  right:5%;
  width:90%;
  height: 75%;
}

.card{
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

#NotificationHistory{
	height: 96%;
	padding:10px;
  /* margin: 20px 3% 50px; */
  margin-top: 10px;
}

#mailCardCol{
  max-width: 50%;
  display: inline-block;
  width: 50%;
}

#messageHistory{
  text-overflow: ellipsis;
}

td {
  height: 50px;
}

.time{
  width: 65px; 
}

.sender{
  width: 50px; 
}

#historyCol{
  display: inline-block;
  width: 50%;
  height: 100%;
}

#notificationReturnButton{
  margin: 0 0 10px 15px
}

.HistoryLine{
  cursor: pointer;
}