body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


html{
  overflow-x: hidden;
}

html, body {
  height: 100%;
}
body {
  margin: 0;

  background-color: #0f417a !important;
  background-image: url("/static/images/logo-insee-fond.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 600px auto;
}
.CustomTable{
  font-size: 13px;
}

.ViewCard{
  padding:20px;
  margin:10px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

#App-header{
  background: rgb(245,245,245);
  /* border-bottom: 3px solid #0084ff; */
  margin-bottom: 28px;
  position:sticky;
  top:0;
  right:0;
  width:100%;
  z-index: 2;

  box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}


.RedButton{
  background: rgb(140,6,46);
  color: rgb(254,195,45);
}

.YellowButton{
  background: rgb(254,195,45);
  color: rgb(140,6,46);
}
.HeaderButton{
  margin:3px 5px 3px 0;
}

.HeaderDocLink{
  display: inline-block;
  vertical-align: middle;
  color:#007bff;
  margin-top: 6px;
}

.HeaderDocLink:hover{
  color:#0069d9;
}


.YellowHaderButton{
  color: rgb(19,66,120) !important;
  background-color: rgb(254,195,45) !important;
  border-color: #007bff !important;
}
#UserZone{
  float:right;
  padding:10px;
  margin:10px;
  min-width: 250px;
  background-color: antiquewhite;
}

#InseeLogo{
  max-height: 100px;
  margin:10px 10px 0px 10px;
}

#SurveyList{
  border:none !important
}
#SurveyListTitle{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px
}

.Title{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px
}

th{
  background: rgb(19,66,120);
  color: rgb(240,196,46);
  border: 1px solid rgb(240,196,46) !important;
  position:relative;
  word-wrap: normal;
}

th.YellowHeader{
  background: rgb(240,196,46);
  color: rgb(19,66,120);
  border: 1px solid rgb(19,66,120) !important;
}

td{
  height: fit-content!important;
}

.ColumnSpacing{
  width: 8px;
  background: white !important;
  border:none !important;
}

.SurveyTitle{
  font-size: 30px;
  font-weight: bold;
  color: rgb(254,195,45);
  margin:auto;
  text-align: center;
  margin-bottom: 20px;
}

#PhaseDisplay{
  position: relative;
  width: 100%;
  margin-left:1.5%;
}

#PhaseDisplay div{
  border: 2px solid black;
  position: relative;
  display: inline-block;
  text-align: center;
}

.CurrentPhase {
  background: rgb(249,191,63);
  color: rgb(139,0,0);
}

.PastPhase{
  background: rgb(128,128,128);
  color: rgb(0,0,0);
}

#PhaseMilestones{
  position: relative;
  width: 100%;
  margin-left:1.5%;
  white-space: nowrap;
}

#PhaseMilestones div{
  position: relative;
  display: inline-flex;
  margin: auto;
}

#PhaseMilestones div.DateCenter{
  text-indent: -32px;
}

#PhaseMilestones div.DateRight{
  text-indent: -72px;
}

#PhaseMilestones div.LabelCenter{
  text-indent: -50px;
}

#PhaseMilestones div.LabelRight{
  text-indent: -110px;
}

@media only screen and (max-width: 850px) {
  div.PhaseSmall{
    width: 32%; 
  }
  div.PhaseLarge{
    width: 32%;
  }
}

@media only screen and (min-width: 850px) {
  div.PhaseSmall{
    width: 24%; 
  }
  div.PhaseLarge{
    width: 49%;
  }
}

#TimeLine{
  position: relative;
}

#SurveyPortalView{
 position: relative;
 margin:5%;
}

#Contacts{
  position: absolute;
}

.MailLink{
  text-decoration: underline;
}

button{
  cursor: pointer;
}

.Clickable{
  cursor: pointer;
}

#datePicker{
  display:inline;
  border-radius: .25rem;
  border: 1px solid #ced4da;
  font-weight: 500;
  line-height: 1.2;
  font-size: 1.25rem;
  margin-bottom: 5px;
}

.DateDisplay{
  display: inline;
}


@media (max-width: 1100px) {
  #logoCol {
    display:none;
  }
  #InseeLogo {
      display:none;
  }
  #appVersion {
    display:none;
  }
}

#headerButtonContainer{
  position: absolute;
  bottom: 20px;
}

.paginationNav{
  position: absolute;
  right:0;
  top: 0;
  z-index: 0!important;
}

.tableOptionsWrapper{
  position: relative;
  min-height:30px;
}

#searchParametersContainer{
  height: 30px;
  margin-bottom:5px;
}

#RightCoListSU{
  padding-right: 25px;
}

#searchParametersContainerCP{
  height: 30px;
  margin-bottom:5px;
}

#searchParametersContainerCP .SearchFieldInput{
  width:105px;
}

.SearchFieldInput{
  max-width: 100%;
  outline-offset: 0px!important;
  /*-webkit-appearance: textfield!important;*/
}

/* .SearchFieldInput::-webkit-search-cancel-button{
  color:red!important;
  cursor: pointer;
} */

.PageSizeSelector{
  display: inline-block;
  width: 60px; 
}

.sortIcon{
  float: right;
  position:relative;
  margin-bottom: 3px;
  width: 15px;
  height: 15px;
}

.sortIconDown{
  position:absolute;
  top:4px;
}
.sortIconUp{
  position:absolute;
  top: -3px;
}

.iconInactive{
  opacity: 0.4;
}

.PreferenceCheckbox{
  padding: 0 20px 0 15px
}

.PreferenceRow {
  height: 28px;
}

#AlertContainer{
  position: fixed;
  left: 10px;
  top: 3px;
  z-index: 2;
  width: 70%;
  height: 500px;
  pointer-events: none;
}

.alert {
  pointer-events: auto;
  margin-bottom: 5px !important;

}

.alert > p {
  margin-bottom: 0;
}

 .WithTableLink > td > a{
  padding: 0 !important;
  color: #212529 !important;
}

a.ButtonLink {
  padding: 0 !important;
  width: fit-content;
}

.ReturnButtonLink {
  margin-left: 20px;
}

a:hover {
  text-decoration: none !important;
}
 
.HistoryDisplayIcon{
  padding-left: 15px;
}

.HistoryTableCross {
  margin-right: 10px;
}

.EditCommentSurveyIcon {
  padding-left: 15px;
}

#TerminatedTableContainer, #StateHistoryTableContainer{
  width: -webkit-fill-available;
}

#ClearSearchInput{
  cursor: pointer;
}

.ExportButton{
  float: right;
}

.PageTitle{
  font-weight: bold !important;
}

.EmptyHeader{
  background: white !important;
  border:none !important;
}

.CenteredText{
  text-align: center;
}

.VerticallyCentered {
  vertical-align: middle !important;
}

.notViewed {
  font-weight: bold;
}

.loadingSpinner{
  margin: auto;
}